.modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    height: 20vh;
    width: 90%;
    background:linear-gradient(to left top,#548fd8,rgb(155, 12, 48));
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 50;
    animation: slide-down 300ms ease-out forwards;
  }
  .form{
    width: 100%;
  }
  .footer{
    margin-top: 1rem;
  }
  .close{
    margin-right: 10px;
    padding: 10px 15px;
    height:40px;
    width: 30%;
    border-radius: 25px;
    border: none;
    background-color: #939793;
    font-weight: 600;
    color: white;
}
.save{
    margin-right: 10px;
    float: right;
    padding: 10px 15px;
    height:40px;
    width: 30%;
    border-radius: 25px;
    border: none;
    background-color: #0dac05;
    font-weight: 600;
    color: white;
}
 .modal .form input{
    padding: 12px 16px;
    margin: 20px 5px 20px 20px ;
    width: 80%;
    border-radius: 15px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 520;
}
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }